.listContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.listContainer button {
  padding: 8px 12px;
  border: 2px solid skyblue;
  border-radius: 16px;
}

.listContainer button:hover {
  background-color: #35c5f0;
}
