.header {
  text-align: center;
  padding: 24px;
  background-color: #60aef2;
}

.header svg {
  fill: black;
}
.header a {
  display: inline-block;
  text-align: center;
  height: 60px;
  padding: 8px;
}

.linkSection {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f4f8;
  padding-top: 30px;
}

.linkItem {
  margin: 0 20px; /* Spacing between the items */
  transition: transform 0.2s ease-in-out; /* Smooth transformation when hovered */
}

.linkItem a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff; /* White text color */
  background-color: #40c3eb; /* Bootstrap primary color for example */
  border-radius: 5px;
  text-decoration: none; /* Removes the underline */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Simple box shadow for a slight 3D effect */
}

.linkItem a:hover {
  transform: translateY(-3px); /* Lifts the link a bit to make it interactive */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
