.listContainer {
  width: 1200px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;

  color: #333;
  margin-top: 12px;
}
.allCheck {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 4px;
}
.itemContainer {
  list-style: none;
  padding: 0;
}

/* 리스트 아이템 스타일 */
.itemContainer li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.itemContainer li label {
  margin-left: 8px;
  transform: translateY(2px);
}
